.Messages {
  flex-grow: 1;
  overflow-y: auto;
}

.Messages-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Messages-message {
  padding: 0 20px;
  margin: 5px 0;
  display: flex;
  align-items: top;
  font-size: 12px;
  line-height: 25px;
}

.Messages-message.is-system {
  opacity: 0.7;
}

.Messages-sender {
  min-width: 170px;
  font-size: 10px;
  text-align: right;
  padding-right: 15px;
  color: #C2C1C2;
  flex-shrink: 0;
}

.Messages-text {
  flex-grow: 1;
}
