.Users {

}

.Users-user {
  margin: 10px 0 0 10px;
  cursor: pointer;
}

.Users-status {
  display: inline-block;
  background-color: white;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: middle;
  transition: background-color 200ms;
}

.Users-status.is-online {
  background-color: #06BA01;

}

.Users-status.is-away {
  background-color: #FCA147;
}

.Users-status.is-playing {
  background-color: #0578FD;
}

.Users-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}

.Users-game {
  font-size: 7px;
  padding-left: 20px;
  color: #0578FD;
}
